<div class='check_device_wrapper'>
    <div class='check_device_frame'>
        <div class='check_device_text'>Check your devices</div>
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 877.05 720.92">
          <defs>
            <style>
              .cls-1, .cls-2 {
                stroke-width: 0px;
              }

              .cls-3 {
                fill: none;
                stroke: #fff;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 7.67px;
              }

              .cls-4 {
                opacity: .75;
              }

              .cls-2 {
                fill: aqua;
              }
            </style>
          </defs>
          <g>
            <g class="cls-4">
              <g>
                <polygon class="cls-1" points="2.1 718.82 2.1 2.1 852.09 2.1 874.95 24.95 874.95 76.18 867.56 82.28 867.56 686.88 874.95 692.97 874.95 718.82 281.86 718.82 275.76 709.9 112.56 709.9 106.46 718.82 2.1 718.82"/>
                <path class="cls-1" d="m874.95,692.97l-7.39-6.09V82.28l7.39-6.1V24.95l-22.86-22.85H2.1v716.72h104.36l6.1-8.92h163.2l6.1,8.92h593.09v-25.85Zm-5.54-6.96l7.39,6.1v28.56H280.89l-6.1-8.92H113.53l-6.09,8.92H.25V.25h852.61l23.94,23.94v52.86l-7.39,6.1v602.86Z"/>
              </g>
            </g>
            <path class="cls-2" d="m876.8,720.67H280.89l-6.1-8.92H113.53l-6.1,8.92H.25V.25h852.61l23.94,23.94v52.86l-7.39,6.1v602.86l7.39,6.09v28.56Zm-594.94-1.85h593.09v-25.85l-7.39-6.09V82.29l7.39-6.1V24.95l-22.86-22.85H2.1v716.72h104.36l6.1-8.92h163.21l6.1,8.92Z"/>
          </g>
          <g id="Layer_2" data-name="Layer 2">
            <g>
              <path class="cls-3" d="m376.59,200.44v-16.87c0-8.44,6.9-15.34,15.34-15.34h93.19c8.44,0,15.34,6.9,15.34,15.34v116.59"/>
              <path class="cls-3" d="m500.08,300.15v69.41c0,8.44-6.9,15.34-15.34,15.34h-92.81c-8.44,0-15.34-6.9-15.34-15.34v-139.6"/>
              <rect class="cls-3" x="420.31" y="168.22" width="34.9" height="11.12"/>
              <path class="cls-3" d="m444.09,368.8h-42.57c-6.52,0-11.89-5.75-11.89-13.04"/>
              <line class="cls-3" x1="457.51" y1="368.8" x2="456.36" y2="368.8"/>
              <path class="cls-3" d="m487.42,355.76c0,7.29-5.37,13.04-11.89,13.04h-2.68"/>
            </g>
          </g>
        </svg>
    </div>
</div>
