<div id='slideshow_controls'>
    <form>
        <button id='sb_play'>play</button><button id='sb_pause'>pause</button>
        <button id='sb_previous'>prev</button><button id='sb_next'>next</button>
        <button id='sb_reload'>reload slide</button>
        <button id='sb_auto'>toggle autoplay</button>
    </form>
    <div class='info_panel slide_detail' id='slide_detail_previous'></div>
    <div class='info_panel slide_detail' id='slide_detail_current'></div>
    <div class='info_panel slide_detail' id='slide_detail_next'></div>
    <div class='info_panel slidelist' id='slidelist'></div>
</div>
