<div id='slideshow_controls'>
    <form class='buttons'>
<!--        <button class="material-icons" id='sb_play'>play_arrow</button>-->
            <table><tbody><tr>
                <td><span class="material-symbols-outlined">play_pause</span></td>
                <td><span class="material-symbols-outlined">skip_previous</span></td>
                <td><span class="material-symbols-outlined">skip_next</span></td>
                <td><span class="material-symbols-outlined">volume_up</span></td>
                <td><span class="material-symbols-outlined">repeat</span></td>
                <td><span class="material-symbols-outlined">replay</span></td>
                <td><button id='sb_auto'>autoplay</button></td>
            </tr></tbody></table>


<!--        <button class="material-icons" id='sb_pause'>pause</button>-->
<!--        <button class="material-icons" id='sb_previous'>skip_previous</button>-->
<!--        <button class="material-icons" id='sb_next'>skip_next</button>-->
<!--        <button class="material-icons" id='sb_unmute'>volume_up</button>-->
<!--        <button class="material-icons" id='sb_reload'>repeat</button>-->
<!--        <button class="material-icons" id='sb_refresh'>replay</button>-->
<!--        <button id='sb_auto'>autoplay</button>-->
    </form>
<!--    <div class='info_panel slide_detail' id='slide_detail_previous'></div>-->
<!--    <div class='info_panel slide_detail' id='slide_detail_current'></div>-->
<!--    <div class='info_panel slide_detail' id='slide_detail_next'></div>-->
    <div class='info_panel slidelist' id='slidelist'></div>
</div>
