<div class='grid-container'>
    <div class='grid-item-span-all link_main' id='link_resources'>
        <h3>Resources</h3>
    </div>
    <div class='grid-item-2 link_main button' id='link_global'>
        <img alt='Global Times Headlines logo' src='assets/GlobalNewsConnectOnLogos-01.svg' />
    </div>
    <div class='grid-item-3 link_main' id='link_connecton'>
        <img alt='Connect On logo' src='assets/GlobalNewsConnectOnLogos-02.svg' />
    </div>
    {{#if isLead}}
        {{> yourmove}}
    {{/if}}
</div>
