<div id='graph-summary'><span id='graph-n-count'>3</span> players out of minimum <span id='graph-n-total'>30</span> connected</div>
<div id=graph-wrapper>
    <div id=graph-inner></div>
    <div id=graph-outer></div>
</div>
