<td>Player <span class='dynamic'>{{this.player}}</span> of <span class='dynamic'>{{this.teamSrc}}</span> allocated <span class='dynamic'>{{this.val}}</span> to <span class='dynamic'>{{this.teamDest}}</span></td>
