<button id='assign' {{#if disableAssignTeams}}disabled{{/if}}>Assign Teams</button><br>
<button id='reset' {{#if disableAssignTeams}}{{else}}disabled{{/if}}>Reset Teams</button>
<div id='controlsInfo'></div>
