<div class='vertStack'>
    <button id='preview'>Preview Teams</button>
    <table class='mini' id='teamAssignment'><tbody>
        <tr>
            <td>
                <button id='resize'>Set Team Size</button>
            </td>
            <td>
                <input type="text" class="valInput" id="teamInput" value="{{game.mainTeamSize}}" readonly >
            </td>
            <td class='buttonSet'>
                <button>-</button><button>+</button>
            </td>
        </tr>
    </tbody></table>
    <button id='assign' {{#if disableAssignTeams}}disabled{{/if}}>Assign Teams</button>
    <button id='reset' {{#if disableAssignTeams}}{{else}}disabled{{/if}}>Reset Teams</button>
    <table class='mini' id='roundTesting'>
        <tr>
            <td>
                <button id='startRound'>Start round</button>
            </td>
            <td>
                <input type="text" class="valInput" id="roundInput" value="1" readonly >
            </td>
            <td class='buttonSet'>
                <button>-</button><button>+</button>
            </td>
        </tr>
        <tr><td colspan="3" style='font-size: 0.7em;'>(set round to -1 to effectively exit the current round)</td></tr>
        <tr>
            <td>
                <button id='endRound'>End round</button>
            </td>
        </tr>
    </table>
    <button id='checkRound' >Check Round</button>
    <button id='identify' >Identify Players</button>
    <button id='slideshow' >Open Slideshow Controls</button>
</div>
<!--<div id='controlsInfo'></div>-->
