<!-- forceOverwrite -->
<div id='message'><span>{{connected}} out of minimum {{required}} players connected</span></div>
<div id='meter'>
    <table><tbody><tr>
        {{#each total}}
        <td class='bar_{{this}}'></td>
        {{/each}}
    </tr></tbody></table>
</div>
<div id='meterlevel'></div>
