<table><tbody>
    {{#each this}}
    <tr><td><span class='slide_link{{#if isCurrent}} current{{else}}{{/if}}' id='slide_link_{{this.ref}}'>{{this.title}}</span></td></tr>
    {{/each}}
</tbody></table>
