<div class='panel' id='facilitateSlideshow'>
<!--<div class='title'>presentation controls</div>-->
<!--<button id='makePres'>Launch Presentation</button>-->
<div class='url_pres'>Presentation <span id='status'></span></div>
<div class='url_pres link-container'>
    URL: <span class='link copylink' id='url_pres_address'>{{urlPresentation}}</span>
    <span class="material-icons copy-icon" id="copyIcon">content_copy</span>
</div>
{{> facilitator-slideshow-controls}}

</div>
<div class='panel' id='facilitateMessage'></div>
<div class='panel' id='facilitatePlayers'>
    <div class='title'>players</div>
    <div id='facilitatePlayersContent'></div>
</div>
<div class='panel' id='playermeter'></div>
<button id='openAdvanced'>Open game controls</button>
<div class='panel' id='scoreboard'>
    <div class='title'>scores</div>
    <div id='facilitateScoresContent'></div>
</div>

<div class='panel' id='rounds'>
    <div class='title'>rounds</div>
    <div id='facilitateRoundsContent'></div>
</div>
