<div id='{{id}}'>
    <div class='widgetcontrols'><div class='bg'></div><div class='link' id='closewidget'>x</div></div>
    <div class='widgetcontent' id='{{partialName}}-frame' class='widget-frame'>
        {{dynamicPartial partialName}}
    </div>
</div>
