<div class='vertStack'>
    <button id='assign' {{#if disableAssignTeams}}disabled{{/if}}>Assign Teams</button>
    <button id='reset' {{#if disableAssignTeams}}{{else}}disabled{{/if}}>Reset Teams</button>
    <button id='identify' >Identify Players</button>
</div>
<div id='controlsInfo'></div>
