<div class='panel' id='facilitateSlideshow'>
<!--<div class='title'>presentation controls</div>-->
<!--<button id='makePres'>Launch Presentation</button>-->
<div class='url_pres'>Presentation <span id='status'></span></div>
<div class='url_pres'>URL: <span class='link copylink' id='url_pres_address' title='copy to clipboard'>{{urlPresentation}}</span></div>
{{> facilitator-slideshow-controls}}

</div>
<div class='panel' id='facilitateMessage'></div>
<div class='panel' id='facilitatePlayers'>
    <div class='title'>players</div>
    <div id='facilitatePlayersContent'></div>
</div>
<div class='panel' id='playermeter'></div>
<button id='openAdvanced'>Advanced controls</button>
