<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Removed</title>
    <link rel='stylesheet' href='css/basics.css' type='text/css'>
    <link rel='stylesheet' href='css/home.css' type='text/css'>
    <link rel='stylesheet' href='css/fog.css' type='text/css'>
    <style>
        p {
            text-align: center;
            width: 75%;
        }
    </style>
</head>
<body>
    <div class='fogwrapper'>
        <div id="foglayer_01" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_02" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_03" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
    </div>
    <div class='wrapper intro'>
        <div class="big container intro fullscreen1">

            <p>Apologies, but you have been removed from the game. You may try to rejoin by refreshing this window.</p>

        </div>
    </div>
</body>
</html>
