<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Individual Change Maker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/portal-app-styles-v1.css">

</head>

<body>
	<!-- Header -->
<div class="team-header">
	<div class="hero-image">
		<div class="back-btn-title-bar">
		<a class="back-btn" href="#" title="Previous page"><img alt="Previous page icon" src="assets/backButton.svg"/></a>
	</div>
		<img alt="Company logo" class="company-logo" src="assets/GlobalNewsConnectOnLogos-02.svg"/>
	</div>
	<div class="team-info center">
		<img class="team-icon" alt="Team icon" src="assets/icon-icm.svg"/>
		<h1>Alex Gogetum OBE</h1>
		<p>(Individual Change Maker)</p>
		<p>Charity Co-founder | DePollute <br/> Headquartered in e-Estonia</p>
		<p>14,560 followers</p>

	</div>

</div>
	<!-- Main Content -->
<div class="main-content">

	<h2>About</h2>
	<p>DePollute is a charity, working in partnership with big brands and businesses to challenge and support them on their sustainability journeys.</p>
	<p>As a co-founder, I have brought together a collective of freelance Expert Associates from across Europe. Together we are delivering environmental services with the imagination the future demands - </p>
</div>

</body>
</html>
