Game detail:
<table><tbody>
    {{#each this}}
    <tr><td>{{@key}}</td><td id='val_{{@key}}'>{{this}}</td></tr>
    {{/each}}
</tbody></table>

<div class='vertstack'>
    <div class='link' id='makeFakes'>Launch Fake Generator</div>
    <div class='link' id='gameReset'>reset game</div>
</div>
