<div class="header">
    <h1>Welcome to your travel portal</h1>
    <div class="header-grad-overlay"></div>
</div>
<div class="main-content center">
    <h2>You are here to figure things out.</h2>
    <p>How can your sector adapt and thrive as part of successful decarbonisation pathways?</p>
    <p>You will be accompanied by AI Caroline throughout your journey. She will make herself known shortly.</p>
</div>
