<div class="nav-header-container">
	<div class="back-btn-title-bar title-bar-red">
		<a class="back-btn home_btn" title="Previous page"><img alt="Previous page icon" src="assets/backButton.svg"/></a>
		<h1>GlobalTimes</h1>
	</div>
	<div class="headline-title">
		<h2>2030</h2>
		<p>HEADLINES</p>
	</div>
</div>
		<!-- Main Content -->
{{#moreThan game.slide 8}}
<div class="article-container">
	<div class="article-img">
		<img alt="" src="assets/Article1-img-100.jpg"/>
	</div>
	<div class="article-headline">
		<h3>Governments threaten to deploy army as occupy retail movement escalates</h3>
		<p>12 hours ago</p>
	</div>
</div>
<div class="article-container">
	<div class="article-img">
		<img alt="" src="assets/Article2-img-100.jpg"/>
	</div>
	<div class="article-headline">
		<h3>Eco-protection laws cause mass evictions</h3>
		<p>5 hours ago</p>
	</div>
</div>
<div class="article-container">
	<div class="article-img">
		<img alt="" src="assets/Article3-img-100.jpg"/>
	</div>
	<div class="article-headline">
		<h3>Poisoned by plastic and unable to afford health care</h3>
		<p>4 hours ago</p>
	</div>
</div>
<div class="article-container">
	<div class="article-img">
		<img alt="" src="assets/Article4-img-100.jpg"/>
	</div>
	<div class="article-headline">
		<h3>Highest recorded referendums in a single year</h3>
		<p>2 hours ago</p>
	</div>
</div>
{{else}}
No headlines to show
{{/moreThan}}
