<div class="header">
    <h1></h1>

    <div class="header-grad-overlay"></div>

</div>
<div class="main-content center">
    <h2>Game over.</h2>
    <p>Thank you for taking part, you can now close this window.</p>

</div>
