<div class="nav-header-container dark-text">
    <div class="back-btn-title-bar">
        <a class="back-btn home_btn" title="Previous page"><img alt="Previous page icon" src="assets/backButton-black.svg" /></a>
        <h1>Your move</h1>
    </div>
</div>
<div class='main-content' id='main-content' style='display: block;'>
    {{> game-allocation}}
</div>
<div id='sub'></div>
