<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <link rel='stylesheet' href='css/basics.css' type='text/css'>
    <link rel='stylesheet' href='/css/home.css' type='text/css'>
    <link rel='stylesheet' href='/css/fog.css' type='text/css'>
    <style>
        p {
            margin: 0px;
            text-transform: none;
        }
        .intro a {
            margin-top: 20px;
            font-size: 2.5rem;
        }
    </style>
</head>
<body>
    <div class='fogwrapper'>
        <div id="foglayer_01" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_02" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
        <div id="foglayer_03" class="fog">
            <div class="image01"></div>
            <div class="image02"></div>
        </div>
    </div>
    <div class='wrapper intro'>
        <div class="big container intro fullscreen1">

            <h2>Unauthorised Access</h2>
            <p>{{message}}</p>
            <p>Please try again.</p>
            <a href="/facilitatorlogin">Login</a>
        </div>
    </div>
</body>
</html>
