Stored Sessions:
<table><tbody>
{{#each sessions}}
<tr><td><div class='getSession link' data-session-id='{{this.uniqueID}}' id='s-link{{this.uniqueID}}'>{{this.uniqueID}}{{#if this.hasName}}: {{this.name}}{{/if}}</div></td></tr>
{{/each}}
</tbody></table>
