Session detail:
{{> sessionDetail}}
{{#if password}}<div id='launch' class='link'>facilitate this session</div>{{/if}}
{{#if password}}<div id='delete' class='link danger'>delete this session</div>{{/if}}
