html, body {
/*    background-color: white;*/
/*    color: black;*/
/*    font-family: 'arial';*/
}
.interactivescoreboard {
/*    padding-top: 30px;*/
    margin-top: 20px;
}
.interactivescoreboard td, .interactivescoreboard th {
    background-color: grey;
    padding: 2px;
    border: 3px solid white;
    border-collapse: separate;
}
.interactivescoreboard td.clickable {
    border: 3px solid white;
    outline: 2px solid #0000c1;
    outline-offset: -3px;
    cursor: pointer;
}
.interactivescoreboard td.notclickable {
    border: 3px solid white;
    outline: 2px solid #0d0d14;
    outline-offset: -3px;
/*    cursor: pointer;*/
}
.interactivescoreboard th {
/*    background-color: grey;*/
/*    padding: 2px;*/
/*    border: 3px solid white;*/
/*    border-collapse: separate;*/
}
.interactivescoreboard td, .interactivescoreboard tr {
    text-align: center;
/*    color: red;*/
}
.blank, .interactivescoreboard td.input {
    background-color: transparent;
}
input {
/*    width: 30px;*/
}
.interactivescoreboard .res {
    background-color: yellow;
}
.interactivescoreboard .sub {
    background-color: #ffffa2;
}
.interactivescoreboard .final {
    background-color: #78ff04;
}
.interactivescoreboard .strong {
    font-weight: bold;
}
.interactivescoreboard .blank {
    background-color: grey;
}
.interactivescoreboard .blank.nofill {
    background-color: transparent;
    width: 10px;
}

.interactivescoreboard td.selected {
    background-color: aqua;
}
#changeFormWrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
/*    background-color: blue;*/
}
#changeForm {
    font-size: 0.9rem;
    position: relative;
    margin: 30px auto;
    padding: 10px;
    width: 450px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid #333333;
}
#changeForm input {
    width: 80px;
}
#changeFormWrapper.active {
    display: block;
    background-color: rgba(53, 53, 74, 0.46);
    pointer-events: all;
}
.formSummary td {
    background-color: transparent;
    text-align: left;
}

.teamHeader {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #1a1a1a;
}

.interactivescoreboard td, .interactivescoreboard th {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
