html, body {
    background-color: white;
    color: black;
    font-family: 'arial';
}
td, th {
    background-color: grey;
}
td, tr {
    text-align: center;
    padding: 2px;
}
.blank, td.input {
    background-color: transparent;
}
input {
    width: 30px;
}
.res {
    background-color: yellow;
}
.sub {
    background-color: #ffffa2;
}
.final {
    background-color: #78ff04;
}
.strong {
    font-weight: bold;
}
.blank {
    background-color: grey;
}
.blank.nofill {
    background-color: transparent;
    width: 10px;
}
td.clickable {
/*    background-color: red;*/
    border: 2px solid #0000c1;
    cursor: pointer;
}
td.selected {
    background-color: aqua;
}
#changeFormWrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
/*    background-color: blue;*/
}
#changeForm {
    position: relative;
    margin: 30px auto;
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid #333333;
}
#changeFormWrapper.active {
    display: block;
    background-color: rgba(53, 53, 74, 0.46);
    pointer-events: all;
}
.formSummary td {
    background-color: transparent;
    text-align: left;
}
