body {
    font-size: 1.1rem;
}
td {
    padding: 3px 20px;
}
#logFeed {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.8rem;
    padding: 10px;
    margin: 10px 0px;
}
#logFeed p {
    margin: 2px;
}
#clearLog {
    padding-top: 20px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
button {
    font: inherit;
}
td {
    vertical-align: top;
}
td#val_players {
    font-size: 0.6rem;
    max-width: 500px;
    word-wrap: break-word;
/*    background-color: green;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
/*  background-color: #ddd;*/
}

/* Create an active/current tablink class */
.tab button.active {
/*  background-color: #ccc;*/
    font-weight: bold;
}
.tab button:disabled {
    cursor: default;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
    position: relative;
}

#tabGame #qrcode {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 148px;
    height: 148px;
/*    background-color: red;*/
}
.vertStack {
    display: flex;
    flex-direction: column;
}
.vertStack button {
    width: 200px;
    margin-bottom: 4px;
}
.playerlist {
    font-size: 0.8rem;
    text-align: left;
}
.playerlist td, th {
/*    background-color: green;*/
    padding: 5px 20px 0px 0px;
}
.boo.true {
    color: #33cc33;
}
.boo.false {
    color: #a72727;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
/*    background-color: green;*/
    margin: 0px auto;
}
.boo.true .circle  {
    background-color: #33cc33;
}
.boo.false .circle {
    background-color: #a72727;
}
.warning {
    color: #ff8900;
}
