#slideshow_controls {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.info_panel {
    position: absolute;
    pointer-events: none;
    vertical-align: top;
    padding-top: 0px;
    border: 1px solid black;
    background-color: white;
    color: blue;
    white-space: normal;
    word-wrap: break-word;
    font-size: 0.9rem;
    margin-top: 10px;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.url_pres {
    font-size: 0.8rem;
    padding: 10px 0px;
}
.url_pres #status {
    font-weight: bold;
}
.url_pres #status.offline {
    color: red;
}
.url_pres #status.online {
    color: #01ad01;
}
#url_pres_address {
    color: #42a1ff;
}
.slide_detail {
    top: 30px;
    width: 240px;
    height: 150px;
}
.slidelist {
    pointer-events: auto;
    top: 200px;
    width: 420px;
    height: 390px;
    overflow-y: scroll;
}
.slidelist table, tr {
    width: 100%;
/*    background-color: red;*/
}
#slide_detail_previous {
/*    display: none;*/
    left: -80px;
}
#slide_detail_current {
    left: 170px;
}
#slide_detail_next {
    left: 420px;
}
#slideshow_controls td {
    padding: 0px 10px 0px 0px;
    border-collapse: collapse;
}
#slideshow_controls td span {
    background-color: #030c3e;
    padding: 3px;
}
.detailwrapper {
    width: 100%;
    height: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}
.detailwrapper.invalid {
    background-color: grey;
}
#detailtitle, #detailwrapper td{
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#detailtitle {
    height: 20px;
    font-weight: bold;
}
#slidelist .current {
    font-weight: bold;
    color: black;
}
.auto_true {
    background-color: green;
}
.auto_false {
    background-color: red;
}
#slideshow_controls .material-icons {
    font-size: 20px;
}
.slidelist {
    font-family: 'arial', sans-serif;
}
.slidelist button {
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: red;*/
    font-size: 20px;
}
#slideshow_controls {
    pointer-events: all;
}
#slidelist span {
    pointer-events: auto;
}
#slidelist span:hover {
    background-color: #8beffc;
}
.link-container {
    position: relative;
    display: inline-block;
}

.copy-icon {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.link-container:hover .copy-icon {
    opacity: 1;
}
