/*
The panel which wil contain all required facilitate controls
*/
.panel {
    border: 1px solid white;
    position: absolute;
}
.panel div {
    font-size: 0.8rem;
}
.panel .title {
    font-size: 1.3rem;
}
#facilitateSlideshow {
    width: 430px;
    width: 300px;
    height: 500px;
}

#facilitateMessage {
    width: 400px;
    width: 360px;
    width: 270px;
    height: 40px;
    left: 460px;
    left: 330px;
    font-size: 0.8rem;
/*    padding: 2px;*/
}
#facilitateMessage p {
    margin: 4px;
}
#facilitatePlayers {
    width: 470px;
    width: 380px;
    height: 400px;
    left: 460px;
    left: 330px;
    top: 170px;
    overflow-y: scroll;
}
#playermeter {
    left: 460px;
    left: 330px;
    top: 120px;
    height: 40px;
    width: 470px;
    width: 380px;
}
#scoreboard {
/*    display: none;*/
    left: 729px;
    width: 500px;
/*    top: 220px;*/
    top: 250px;
/*    height: 350px;*/
    height: 320px;
}
#rounds {
    left: 729px;
    width: 500px;
/*    top: 220px;*/
/*    height: 140px;*/
    height: 170px;
}
.slidelist {
    top: 40px;
}
.slidelist .hint {
    color: #10bcd3;
    font-style: italic;
}
#openAdvanced {
    position: absolute;
    left: 873px;
    left: 833px;
    left: 703px;
    left: 613px;
    height: 43px;
    width: 100px;
    line-height: 0.9rem;
}
button {
    font-size: 16px;
}
