body {
    font-size: 1.1rem;
}
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0);
    z-index: 999;
    pointer-events: none;
}
.blocker {
    /* the jquery modal div - needs to be on top */
    z-index: 99999999;
}
td {
    padding: 3px 20px;
}
#logFeed {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.8rem;
    padding: 10px;
    margin: 10px 0px;
}
#logFeed p {
    margin: 2px;
}
#clearLog {
    padding-top: 20px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
button {
    font: inherit;
    margin-bottom: 4px;
}
.playerlist button {
    margin-bottom: 0px;
    font-size: 16px;
}
td {
    vertical-align: top;
}
td#val_players {
    font-size: 0.6rem;
    max-width: 500px;
    word-wrap: break-word;
/*    background-color: green;*/
}
.fake {
    color: #ef9a95;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
/*  background-color: #ddd;*/
}

/* Create an active/current tablink class */
.tab button.active {
/*  background-color: #ccc;*/
    font-weight: bold;
}
.tab button:disabled {
    cursor: default;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
position: relative;
}

#tabGame #qrcode img {
/*    display: none;*/
    height: 200px;
    float: right;
}
#tabGame #qrcodegame {
    top: 20px;
}
#tabGame #qrcodepres {
    top: 300px;
}
#tabGame .qrcode {
    position: absolute;
    right: 20px;
    width: 220px;
    height: 200px;
    background-color: transparent;
}
#tabGame .qrcode .colourStrip {
    position: absolute;
    height: 100%;
    width: 20px;
}
.vertStack {
    display: flex;
    flex-direction: column;
}
.vertStack button {
    width: 200px;
    margin-bottom: 4px;
}
.playerlist {
    font-size: 0.8rem;
    text-align: left;
}
.playerlist td, th {
/*    background-color: green;*/
    padding: 5px 20px 0px 0px;
    padding: 0px;
    padding: 1px 2px;
}
td.boo {
    padding: 4px 6px;
}
.boo.true {
    color: #33cc33;
}
.boo.false {
    color: #a72727;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
/*    background-color: green;*/
    margin: 0px auto;
}
.boo.true .circle  {
    background-color: #33cc33;
}
.boo.false .circle {
    background-color: #a72727;
}
.warning {
    color: #ff8900;
}
.teams .link:first-child {
    color: yellow;
}
#contentControls .mini {
    width: 290px;
}
#contentControls .mini tr, #contentControls .mini td {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#contentControls input {
    width: 40px;
    pointer-events: none;
    text-align: center;
}
#contentControls input.nameInput {
    width: 120px;
    pointer-events: all;
    text-align: left;
}
.mini .buttonSet {
    display: flex;
    flex-direction: row;
}
.mini .buttonSet button {
    width: 30px;
    cursor: pointer;
}

.modal {
    color: black;
}
.right-align {
    text-align: right;
}
.roundheader {
    text-decoration: line-through;
}
#scoresummaries table {
    font-size: 0.8rem;
}
#scoresummaries td:nth-child(even), #scoresummaries .dynamic {
/*    color: cyan;*/
}
#scoresummaries .nostripe td:nth-child(even) {
/*    color: inherit;*/
}
#scoresummaries td {
    padding: 2px 6px;
}
#scoresummaries td:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.12);
}
#scoresummaries .totals td.emphasis {
    background-color: rgba(0, 0, 0, 0.29);
    color: cyan;
}
#scoresummaries .totals td.grand {
    font-family: "Courier New", Courier, monospace;
    background-color: rgba(0, 0, 0, 0.53);
    color: yellow;
    text-align: right;
}
td.grand:before {
    content: attr(data-padded);
    visibility: hidden;
/*    display: none;*/
    color: red;
}
.grand[data-padded]:before {
    visibility: visible;
}
#scoresummaries .totals tr:nth-child(2) td:first-child {
    color: #01f401;
}
#scoresummaries .downloader {
    padding-top: 20px;
    padding-bottom: 30px;
}
button.remove {
    color: red;
    font-weight: bold;
}
