.slide_progress_bar {
    width: 100%;
    height: 20px;
    background-color: red;
    position: relative;
    top: 0px;
    z-index: 5;
}
.slidelist .overlay {
    z-index: 10;
    position: relative;
    top: 0px;
}
.slidelist table {
    border-collapse: separate;
}
.slidelist .slide_info {
/*    display: none;*/
    position: relative;
    width: 100%;
    margin: 10px 0px;
/*    padding: 10px 10px;*/
}
.slide_info .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #b5fa91;
    padding: 2px 0px;
}
.slide_info .slide_link {
    position: relative;
/*    padding: 20px;*/
}
.slide_info.linkFail {
    color: #d80101;
    text-decoration: line-through;
}
.slidenote {
    display: none;
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: white;
/*    border: 1px solid black;*/
    width: auto;
    padding: 0px 10px;
    color: black;
    box-shadow: -2px 2px 3px rgba(36, 36, 36, 0.73);
}
