/*
The panel which wil contain all required facilitate controls
*/
.panel {
    border: 1px solid white;
    position: absolute;

}
#facilitateSlideshow {
    width: 430px;
    height: 500px;
}

#facilitateMessage {
    width: 400px;
    width: 360px;
    height: 40px;
    left: 460px;
}
#facilitatePlayers {
    width: 510px;
    width: 470px;
    height: 440px;
    left: 460px;
    top: 130px;
    overflow-y: scroll;
}
#playermeter {
    left: 990px;
    left: 950px;
    top: 130px;
    height: 440px;
    width: 60px;
}
.slidelist {
    top: 40px;
}
.slidelist .hint {
    color: #10bcd3;
    font-style: italic;
}
#openAdvanced {
    position: absolute;
    left: 873px;
    left: 833px;
    height: 43px;
}
