body, html {
    height: 100%;
    margin: 0;
}
* {
/*    color: black;*/
}
.wrapper {
    height: 100%;
    min-height: 100%;
}
.intro {
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
}
.intro a {
    font-size: 1.8rem;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    width: 50%;*/
/*    height: 50%;*/
    border: none;
}
#header {
/*    background-color: coral;*/
    display: none;
    left: 15%;
    top: 5%;
    width: 84%;
    height: 20%;
    position: absolute;
    z-index: 30;
}
#header p {
    position: absolute;
    top: 0px;
    font-size: 4vw;
    line-height: 10px;
    line-height: 1vw;
    padding-left: 0px;
/*    top: -30px;*/
/*    background-color: burlywood;*/
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
/*    background-image: url(../assets/forest.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    z-index: -1;
}
.container.fullscreen1 {
    background-image: url(../assets/forest.jpg);
}
#top {
    z-index: 9999;
}
.container.fullscreen1::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(92, 131, 142, 0.23), rgba(33, 216, 216, 0.5));
}
#circle-wrapper {
    display: none;
    z-index: 20;
    position: absolute;
    top: 5%;
    left: 3%;
    width: 10%;
    padding-top: 10%;
    color: white;
}
#circle-fill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}
