html, body {
    background-color: white;
    color: black;
}
body {
/*    font-size: 1em;*/
}
#insertion {
    position: absolute;
    width: 100%;
/*    z-index: 9;*/
}
.overlay {
    font-size: 2rem;
    position: absolute;
    width: 450px;
    height: 150px;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px;
}

.link_main {
    cursor: pointer;
}
.link_main img {
    opacity: 0.8;
}
.link_main img:hover {
    opacity: 1;
}

.yourmove-btn {
  	background-color: #091932;
  	border: none;
  	color: white;
  	padding: 12px 16px;
  	font-size: 22px;
  	cursor: pointer;
  	border-radius: 50%;
	margin: 12px 10px;
}
.yourmove-btn.disabled {
  	background-color: #404a5c;
    color: #d2dae3;
    cursor: default;
}
