html, body {
    background-color: white;
    color: black;
}
body {
/*    font-size: 1em;*/
}
#insertion {
    position: absolute;
    width: 100%;
/*    z-index: 9;*/
}
.overlay {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 30px;
}
