.voteform .description {
/*    font-size: 0.1rem;*/
    overflow: hidden;
    height: 30px;
    display: none;
}
.voteform .vote-tile {
    height: 50px;
    margin: 2px;
}
.voteform .vote-tile {
    height: 50px;
    margin: 2px;
}
.voteform .icon-container {
    display: none;
}
.tab button {
    padding: 2px 12px;
    font-size: 0.9rem;
}
.voteform {
    padding-bottom: 20px;
}
.voteform .title {
    font-size: 1.0rem;
}
.voteform .resources-buttons {
    position: relative;
    top: -10px;
}
