html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}
.container {
    background-color: black;
}
#insertion {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
td {
    padding: 6px 20px;
    color: white;
    vertical-align: top;
}
#videoPlayer #player {
    width: 100%;
    height: 100%;
}
#videoPlayer iframe {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#qr {
    width: 300px;
    height: 300px;
    z-index: 100;
}
.frame1full {
    width: 100%;
    height: 100%;
    background-image: url(../assets/frame1full.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    position: fixed;
    background-color: black;
}
.huge {
    font-size: 6rem;
    font-weight: bold;
}
#devoverlay {
    /* turn off for now */
    display: none;
    position: fixed;
    z-index: 999999;
    bottom: 20px;
    left: 20px;
    width: 1000px;
    min-height: 200px;
    background-color: rgba(4, 39, 59, 0.67);
}

/* Bar chart slide */
.barchart {
/*    background-color: red;*/
    width: 60%;
    max-width: 1000px;
    height: 70%;
}
.barchart table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
/*    background-color: blue;*/
}
.barchart tr {
    height: 45%;
}
.barchart tr:nth-child(2) {
    height: 10%;
}
.barchart tr, td {
    padding: 2px 10px;
}
.barchart tr:nth-child(1) td {
    bottom: 0px;
    vertical-align: bottom;
/*    display: none;*/
}
.barchart .icon {
/*    padding: 20px;*/
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
}
.bar {
/*    width: 100px;*/
    position: relative;
    height: 0px;
/*    background-color: aqua;*/
}
.barchart .totalNum {
    width: 100px;
    position: relative;
    text-align: center;
    margin: 0px auto;
    height: 0px;
}
.bar:after {
/*
    content: '10';
    position: relative;
    bottom: 0px;
    text-align: center;
    width: inherit;
    margin: 0px auto;
*/
}
.bar table, td {
    border-collapse: collapse;
}
/* End bar chart slide */
