{{> frame-blue}}
<div class='container'>
    <div class="grid-container1">
        <div class="cell">
            {{> presentation_stakeholder_card card_0}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card card_1}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card card_2}}
        </div>
    </div>
    <div class="grid-container2">
        <div class="cell">
            {{> presentation_stakeholder_card card_3}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card card_4}}
        </div>
    </div>
</div>
