{{> frame-blue}}
<div class='container'>
    <div class="grid-container1">
        <div class="cell">
            {{> presentation_stakeholder_card_collab_leftbar card_0}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card_collab_leftbar card_1}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card_collab_leftbar card_2}}
        </div>
    </div>
    <div class="grid-container2">
        <div class="cell">
            {{> presentation_stakeholder_card_collab_leftbar card_3}}
        </div>
        <div class="cell">
            {{> presentation_stakeholder_card_collab_leftbar card_4}}
        </div>
    </div>
</div>
