<div class='fogwrapper'>
    <div id="foglayer_01" class="fog">
        <div class="image01"></div>
        <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
        <div class="image01"></div>
        <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
        <div class="image01"></div>
        <div class="image02"></div>
    </div>
</div>
<div class='wrapper intro'>
    <div id='circle-wrapper'>
        <div class='circle' id='circle-fill'></div>
    </div>
    <div id='header'>
        <p>INDEX</p>
    </div>
    <div class="big container intro fullscreen1">
<!--    <div id='qr'><img src='assets/qr/qrcode-{{gameID}}.svg' width='300'></div>-->
    <div id='qr'></div>

<!--        <h1>Welcome</h1>-->
    </div>
</div>
